{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block navbar %}
     {{ include ('layout/othernavbar.html.twig')}}
{% endblock %}

{% block content %}
    <h1> Inscription</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    
    <div class="m-5">
        {{ form(form)}}
        
    </div>
{% endblock %}
